body {
  margin: 1em;
  font: small sans-serif;
  color: #000;
  background-color: #fff;
}

p, td, th, li {
  font: small sans-serif;
}

h1, h2, h3, h4 {
  color: #f60;
}

h1 {
  font-size: large;
}

a:link, a:visited {
  color: #09f;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

input, textarea, select {
  border: 1px solid #f60;
  color: #000;
  background-color: #fff;
}

input.button {
  font-weight: bold;
  border: 1px outset #fff;
  color: #fff;
  background-color: #f60;
}