body {
  margin: 2em;
  font: small sans-serif;
  color: #000;
  background-color: #fff;
}

p, td, th, li {
  font: small sans-serif;
}

h1, h2, h3, h4 {
  color: #0054e3;
}

h1 {
  font-size: large;
}

a:link, a:visited {
  color: #0064fa;
  text-decoration: underline;
}

a:hover {
  text-decoration: none;
}

input, textarea, select, .inputbox {
  border: 1px solid #0054e3;
  color: #000;
  background-color: #ece9d8;
}

input.radio {
  border: none;
  background-color: #fff;
}

input.button {
  font-weight: bold;
  border: 1px outset #fff;
  color: #fff;
  background-color: #0054e3;
}