/* 	
	 Black on Black CSS for Modern - Singapore Template v1.3 (www.sgal.org)
	   by Ross Howard (www.abitcloser.com)													
*/

/* Structure */
													
body {
	background-color: #111;
}

#sgContainer {
	border-right-color: #0A0A0A; 				
	border-left-color: #222;			 
	border-top-color: #222;
	border-bottom-color: #0A0A0A;
	background-color: #1A1A1A;	
}

#sgHeader {
	border-right-color:#111;				
}

#sgMain-nav {
	border-right-color: #111;				
	color: #444;
}

#sgContent {
	border-right-color: #111;				
	border-bottom-color: #111;				
	border-top-color: #1A1A1A;
}

#sgUpdate {
	background-color: #222;
	border-bottom-color: #111;	
	color: #666;			
}

/* Page Elements */

.sgCrumb {
	color: #444;
}

.sgGallery {
	border-color: #1E1E1E;
	background-color: #111;
}

.sgAlbum {
	border-color:#1E1E1E;
	background-color: #111;
}

.sgImageBox {
	background-color: #111;
	border-color: #222;
	border-right-color: #111;
	border-bottom-color: #111;
}

img.sgImage  {
	background: #111 url(../img/loader_b.gif) center bottom no-repeat;
}

/* Typography */

h2 {
	color: #DDD;
}

h4 {
	color: #666;
}

p {
	color: #666;
}

.sgGallery p.sgCount {
	color: #AAA;
}

.sgPreview p {
	color: #999;
}

#sgFooter p {
	color: #333;
}

a {
	color: #22628D;
}

#sgFooter a {
	color: #22628D;
}

/* Links and Thumbnails */

.sgAlbum a img {
	background-color: #181818;
	border-color: #222;	
}

.sgGallery a img {
	background-color: #181818;
	border-color: #222;
}

a:hover img.sgThumbnailAlbum, a:hover img.sgThumbGallery {
	border-color: #333;
}

.sgPreview a img {
	border-color: #333;
	color: #CCC;
}

.sgPreview a:hover img, .sgPreview a:hover img.sgThumbnailPreviewCurrent{
	border-color: #666;
}

/* Details */

dl {
	color: #999;
}

dt {
	color: #666;	
}

/* Forms */

select{
	color: #666;
}

/* In-Image Rollovers */

.sgImageBox a {
	background-color: #111;
}

.sgImageBox a.prev {
	border-right-color: #111;
}

.sgImageBox a.thumb {
	border-bottom-color: #111;
}

.sgImageBox a.next {
	border-left-color: #111;
}

.sgImageBox a.control {
	border-top-color: #111;
}

/* Slideshow */

body#slideshow {
	background-color: #000;
}

#slideshow div.sgImageBox {
	background-color: #000;
}
