/* IE Hacks */
body {
	text-align: center;
}

.sgAlbum, #sgContent, h3, .sgGallery p {
	height: 1%;	
}

#sgContent div.sgImageWrapper {
	text-align: center;	
}

p.sgTab {
	position: relative;
	margin-top: 0px;
}

#sgContainer {
	text-align: left;
}

.sgAlbum a {
	display: inline;
	margin: 0 18px 20px 19px;
}

.sgPreview a:hover img, a:hover img.sgThumbnailAlbum, a:hover img.sgThumbGallery  {
	filter: alpha(opacity=100);
}

img.sgThumbnailPreviewCurrent {
	filter: alpha(opacity=60);
}

.sgImageBox a {
	filter: alpha(opacity=0);
}

.sgImageBox a:hover {
	filter: alpha(opacity=90);
}

.sgGalleryFloat {
	display: inline;
}